.title{
  font-size: 30px;
  font-style: italic;
}
.myalert{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
}
#main{
  background: rgb(190, 190, 190);
  border-radius: 10px;
}
a:hover{
  cursor: pointer;
}
